# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
reports/
*.html
*.log

# Documentation
linkedin_post.md

# IDE
.vscode/
.idea/
